.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

body {
  background-image: url("image.jpg");
  object-fit: cover;
  background-size: 100% 100%;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

#message-box {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

